export(RegRun)
export(RegRunSig)
export(getR2)
export(getSig)
export(getcoef)
exportClasses(LinearOutput)
exportClasses(LinearOutputSig)
exportMethods(RegRun)
exportMethods(RegRunSig)
exportMethods(getR2)
exportMethods(getSig)
exportMethods(getcoef)
exportMethods(initialize)
